
{% extends "base.html" %} {% block content %}
<div class="min-h-screen relative overflow-auto pt-14">
  <!--Hero Image Area-->
  <div class="h-40 lg:h-80 w-full bg-gray-400 flex bg-[url('{{video.section.thumbnail.url}}')] bg-cover bg-center bg-gray-600 bg-blend-overlay">
    <div class="container mx-auto relative">
      <h3
        class="
          bottom-0
          left-0
          absolute
          p-4
          lg:px-0
          text-white text-2xl
          uppercase
        "
      >
        {{video.section}}
      </h3>
    </div>
  </div>
  <!--Categories List-->
  <div class="w-full bg-gray-300">
    <div
      class="
        container
        mx-auto
        flex
        items-center
        justify-around
        h-full
        text-center text-gray-500
        sticky
      "
    >
    {% for diff in difficulties %} <a
    href="{% url 'videos:section' difficulty=diff section=video.section %}"  class="
      w-1/{{difficulties|length}}
      py-4
      capitalize
      {% if video.difficulty == diff %}
      border-b-2
      border-black
      text-gray-900
      {% endif %}
    "
    >{{diff.name}}</a
  >{% endfor %}
    </div>
  </div>
  <div class="p-4 lg:px-0 mt-1 mb-16">
    <!--video Grid-->
    <div class="container mx-auto grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">
      {% for video in section %}
      <a
        href="{% url 'videos:lesson' difficulty=video.difficulty.name section=video.section category=video.category pk=video.pk %}"
        class="bg-gray-50"
      >
        <img
          src="{{video.thumbnail}}"
          alt="{{video.title}}"
          class="bg-gray-200 aspect-video"
        />
        <div class="p-2 lg:p-4">
          <span class="uppercase text-gray-400 font-light text-sm"
            >{{video.category}}</span
          >
          <h5 class="font-medium text-lg mb-1">{{video.title}}</h5>
          <p class="text-sm mb-1">{{video.description}}.</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <!--Bottom Navigation-->
  <div class="w-full fixed bottom-0 bg-gray-50 p-4 md:hidden">
    <div
      class="
        container
        mx-auto
        flex
        items-center
        justify-around
        py-2
        font-medium
        text-lg text-gray-500
      "
    >
    {% for cat in categories %}
    <a
        href="{% url 'videos:section' difficulty=video.difficulty section='guard' %}"
        class="capitalize {% if video.section|stringformat:"s" == category|stringformat:"s" %}text-gray-900{% endif %}"
        >{{cat.name}}</a
    >
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
