<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="ExecBJJ Studio - Learn Brazilian Jiu Jitsu"
    />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
    <!--Tailwind CSS Link-->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <!--Alpine JS Include-->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.8.1/dist/cdn.min.js"
    ></script>
    <!--Plausible Analytics Tag-->
    <script
      defer
      data-domain="execbjj.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <title>ExecBJJ</title>
  </head>
  {% include "navbar.html" %}
  <body>
    <!--Messages are included here-->
    {% include 'partials/_messages.html' %} {% block content %} {% endblock
    content %}
  </body>
  {% include "footer.html" %}
</html>
