{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font md:h-screen lg:flex">
  <div class="container px-5 pt-24 pb-4 md:py-24 mx-auto my-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="
          lg:w-1/2
          w-full
          lg:h-auto
          h-64
          mb-8
          object-cover object-center
          rounded
        "
        src="/static/img/emily.jpg"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-2xl text-black uppercase font-semibold mb-2">
          ExecBJJ <span class="font-light">Studio</span>
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          Intro to Brazilian Jiu Jitsu - 6 Week Course (Early Bird Discount)
        </h1>
        <p class="mb-4">
          This course is designed for absolutely anyone to attend. We start with
          the fundamental techniques of Brazilian Jiu Jitsu at a pace that is
          suitable for anyone of any level of fitness.
        </p>
        <p class="mb-4">
          As the course progresses we help to guide towards a better
          understanding of the techniques as you become more adapted to the
          training.
        </p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Start Date</span>
          <span class="ml-auto text-gray-900">January 10th, 2022</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Days and Times</span>
          <span class="ml-auto text-gray-900 text-right">Mondays and Wednesdays, 6pm</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Training Uniform</span>
          <span class="ml-auto text-gray-900">Included</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Duration</span>
          <span class="ml-auto text-gray-900">6 Weeks</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Instructor</span>
          <span class="ml-auto text-gray-900">Sam Mc Nally</span>
        </div>
        <form
          method="POST"
          action="."
          class="flex items-center justify-between"
        >
        {% csrf_token %}
        <div>
          <span class="title-font font-medium text-2xl text-gray-900"
            >€199
          </span>
        </div>
          <button
            class="
              flex
              ml-auto
              text-white
              bg-blue-500
              border-0
              py-2
              px-6
              focus:outline-none
              uppercase
              hover:bg-blue-600
            "
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
