<!--Registration Page-->
{% extends "base.html" %} {% block content %}{% load tailwind_filters %}
<!--Hero Image with clip-path overlay-->
<div class="min-h-screen h-full w-screen bg-white">
  <div class="container pt-24 pb-12 lg:py-40 px-4 lg:px-0 mx-auto flex">
    <form
      method="POST"
      action=""
      class="
        h-auto
        w-full
        max-w-screen-sm
        bg-gray-200
        p-4
        flex flex-col
        mx-auto
      "
    >
      <h5 class="text-2xl font-medium mb-2">Register</h5>
      <p class="mb-4">Fill in your details below to register to ExecBJJ.</p>
      {% csrf_token %} {{form|crispy}}
      <div class="flex">
        <button
          type="submit"
          class="bg-gray-800 text-white uppercase font-medium px-4 py-2 ml-auto"
          value="Submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
